* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}


.main {
    position: absolute;
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
    overflow: hidden;
    background: linear-gradient(#63b5f5, rgb(236, 235, 235))

}

.angry-bird {
    position: absolute;
    width: 80px;
    bottom: 0px;
}

.voar {
    animation: voar 500ms ease-out;

}

.cano-chao {
    animation: andar 0.9s infinite linear;
    position: absolute;
    width: 100px;
    bottom: 0;

}

.cano-ceu {
    animation: andar 0.9s infinite linear;
    position: absolute;
    width: 100px;
    top: 0;

}

.nuvens {
    animation: nuvensVoando 6s infinite linear;
    position: absolute;


}

@keyframes andar {
    from {
        right: 0px;
    }

    to {
        right: 100%;
    }
}


@keyframes voar {
    0% {
        bottom: 0px;
    }

    10% {
        bottom: 40px;
    }

    20% {
        bottom: 80px;
    }

    30% {
        bottom: 170px;
    }

    40% {
        bottom: 170px;
    }

    50% {
        bottom: 260px;
    }

    60% {
        bottom: 170px;
    }

    70% {
        bottom: 170px;
    }

    80% {
        bottom: 80px;
    }

    90% {
        bottom: 40px;
    }

    100% {
        bottom: 0px;
    }
}


@keyframes nuvensVoando {
    from {
        right: -410px;
    }

    to {
        right: 100%;
    }
}


